@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none
    ;
    scroll-behavior: smooth;
    font-family:poppins ;
    scrollbar-color: red;
    scrollbar-width: 60px;
}
*::selection{
  background: linear-gradient(to right,rgb(255, 247, 30),rgb(255, 135, 15));
  color: #111111;
}
body{
  width: 100%;
  background-color: #000000;
  height: 100%;
  
}
nav{
  position: fixed;
  display: flex;
  color: white;
  z-index: 17;
  width: 100%;
background-color: rgba(255, 255, 255, 0);
right: 2%;
  justify-content: space-between;
}
nav span{
  margin: 2% 4%;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(255, 247, 30);
}
nav i{
  margin: 2% 0%;
  background: linear-gradient( rgb(255, 247, 30), rgb(255, 135, 15));
-webkit-background-clip: text;
cursor: pointer;
z-index: 18;
opacity: 0;
  font-size: 1.5rem;
  color: rgba(255, 248, 30, 0);
  animation: menu ease forwards .4s;
  animation-delay: 4s;
}
@keyframes menu {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
.home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #111111;

}

.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 8;
    background: linear-gradient(to right,rgba(255, 248, 30, 0),rgba(255, 135, 15, 0)
    );
    
animation: loaderw ease forwards 1.3s ;
animation-delay: 3s;}
@keyframes loaderw {
    0%{
      
       opacity: 1;
    }
    100%{
     display: none;
        opacity: 0;
    }
    
}
.loader-container{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
    opacity: 0;
    background: linear-gradient(to right,rgb(255, 247, 30),rgb(255, 135, 15)
    );
animation: loader ease-in forwards 1.9s ;}
@keyframes loader {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.name{
    color: #e9e9e9;
    position: absolute;
    font-weight: 600;
    left: 2%;
    top: 20%;
    font-size: 15.7vw;
letter-spacing: -5px;
line-height: 155px;
white-space: nowrap;
width: 100%;
z-index: 11;
opacity: 0;
animation: name linear forwards .2s;
animation-delay: 2.4s;
}
@keyframes name {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.na1 {
    position: relative; /* Containing block for .n1 */
    height: 180px; /* Adjust as needed */
    overflow: hidden; /* Hide out-of-bounds content */
    width: 100%;
    margin-bottom: -50px;
    background-color: rgba(0, 255, 255, 0);
    z-index: 10;
  }
.na2 {
    position: relative; /* Containing block for .n1 */
    height: 180px; /* Adjust as needed */
    overflow: hidden; /* Hide out-of-bounds content */
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
text-align: center;
    z-index: 10;
    margin-top: -40px;

  }

  .n1 {
    background: linear-gradient(to right,rgb(255, 135, 15),rgb(255, 247, 30));
    color: transparent;
    -webkit-background-clip: text;
    position: absolute; /* Allow .n1 to move within .na1 */
    -webkit-text-stroke: 3px transparent;
    transition: .3s ease;
    bottom: -100%; /* Start off-screen */
    animation: n1 0.6s ease forwards;
    animation-delay: 3.7s;
   
  }

  @keyframes n1 {
    0% {
      bottom: -100%;
      opacity: 0;
    }
    100% {
      bottom: 0%;
      opacity: 1;
    }
  }

.n2{

  background: linear-gradient(to right,rgb(255, 135, 15),rgb(255, 247, 30));
  color: transparent;
    -webkit-background-clip: text;
    bottom: -100%
    ;
    z-index: 2;
  
    position: relative;
    -webkit-text-stroke: 3px transparent;
    transition: .3s ease;
    animation: n2 0.6s ease forwards;
    animation-delay: 4s;
}
@keyframes n2 {
    0% {
      bottom: -100%;
      opacity: 0;
    }
    100% {
      bottom: 0%;
      opacity: 1;
    }
  }
.n3{
    background: linear-gradient(to right,rgb(255, 135, 15),rgb(255, 247, 30));
    color: black;
    -webkit-text-stroke: 1.5px transparent;
    -webkit-background-clip: text;
    font-size: 2.6rem;
    top: -130px;
   transition: .3s ease;
    position: relative;
    margin-left: 410px;
    letter-spacing: 2px;
    animation: n3 ease forwards 1.1s ;
    animation-delay: 4.4s;
    z-index: 1;
    opacity: 0;
}
.n3:hover{
  color: transparent;
  -webkit-text-stroke: 0px transparent;
}
@keyframes n3 {
  0%{
   opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
.loader-container h1{
    font-size: 15vw;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    -webkit-text-stroke:2px #111111;
    animation: hello ease-in forwards .8s ;
   animation-delay: 1.7s;

}
@keyframes hello {
    0%{
        color: #11111100;
    }
    100%{
       color: #111111;
    }
}
.page2{
 
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to right,rgb(255, 135, 15),rgb(255, 247, 30));
  height: 100vh;
}
.page2 h3{
 
  font-size: 40vw;
  letter-spacing: -18px;
  word-spacing: -20px;
  /* transform: translateX(-38%); */
  white-space: nowrap;
  top: 0%;
  color: #111111;
-webkit-background-clip: text;
  position: relative;
}
.aboutme{
  width: 100%;
  height: 130vh;
  position: relative;
  display: flex;
overflow: hidden;
justify-content: center;
align-items: center;
  background-color: #111111;
}
.sf{
  color: rgba(255, 248, 30, 0);
 
  white-space: nowrap;
  background: linear-gradient(to right
  
  ,rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30)
  
  
  
  
  
  );
-webkit-background-clip: text;
  display: flex;
  gap: 30px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  position: relative;
  top: 40%;
  animation: sf ease infinite 600s;
  animation-delay: 4s;
}
@keyframes sf {
  0%{
 
    transform: translateX(-30%);
  }
  100%{
 
    transform: translateX(-100%);
  }
  
}
.sf1{
 
}
.sfparent{
  opacity: 0;
  animation: sfp ease .5s forwards  ;
  animation-delay: 4.2s;
  position: absolute;
  top: 90%;
}
@keyframes sfp {
  0%{opacity: 0;}

  100%{opacity: 1;}
  
}

#cursor{
  position: absolute;
  width: 70px;
  height: 70px;
  background: linear-gradient(to right,rgb(225, 113, 0),rgb(237, 229, 3));  
  top: -2%;

  left: -2%;
  border-radius: 50%;
  mix-blend-mode:hard-light;
 pointer-events: none;
 transition:.1s;
z-index: 9;
scale: .4;
  
}
body{
  overflow-x: hidden;
}
.nav-content{
  position: fixed;
  height: 100vh;
  right: -100%;
  width: 40%;
  gap: 3%;
  z-index: 19;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.374);
  backdrop-filter: blur(20px);
}
.nav-content a span{
  font-size: 2.4rem;
  position: relative;
  left: 10%;

transition: .9s;
color: orange;
  
}

.nav-content i{
  position: absolute;
  right: 10%;
  cursor: pointer;
  color: transparent;
  background: linear-gradient(to right,rgb(237, 229, 3),rgb(225, 113, 0));  
  -webkit-background-clip: text;
  top: 6%;
  font-size: 1.5rem;
}
.nav-content a span::before{
  content: "";
  width: 0%;
  transition: .4s;
  border-radius: 20px;
  height: 2px;
  position: absolute;
  background: linear-gradient(to right,rgb(225, 113, 0),rgb(237, 229, 3));  
left: 0%;

bottom: -3px;
}
.nav-content a span:hover::before{
  width: 100%;
}
.aboutme-content{

  display: flex;
  flex-direction: column;
  line-height: 40px;
background-attachment: fixed;
margin-top: 0%;
margin-left: 4%;
margin-right: 4%;
transition: .4s ease;
  font-size: 1.8rem;
  gap: 10px;


 ;
  overflow: hidden;
}
.aboutme-content .sentence{
  background: linear-gradient(to right,rgb(225, 113, 0),rgb(237, 229, 3));  
white-space: nowrap;
  background-size: 0% 100% ;
  position: relative;
  display: flex;
  transition: .4s;
  font-family: pt+sans;
  gap: 10px;
  font-weight: 500;
  background-repeat: no-repeat;
-webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.114)
}


.aboutme .sentence:hover{

  background: linear-gradient(to left,rgb(225, 113, 0),rgb(237, 229, 3));
  -webkit-background-clip: text;
}
/* .aboutme-content2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: absolute;
  text-align: center;
  font-size: 2rem; */
 
  
  /* background: rgb(0, 147, 103);
  background-size:0% 100%;
  -webkit-background-clip: text;
  
  animation: sp linear forwards;
  animation-timeline: view();
  animation-range-start: cover 20vh;
  animation-range-end: cover 50vh; */




.page3{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
  background: linear-gradient(to right,rgb(255, 135, 15),rgb(255, 247, 30));
  
}
.page3 h4{
  font-size: 40vw;
  letter-spacing: -28px;
  word-spacing: -30px;
  position: relative;

  color: #111111;
 
-webkit-background-clip: text;
}
.projects{
  width: 100%;
  min-height: 100vh;
  background-color: #111111;
  background-attachment: fixed;
}
/* .aboutme span::before{
  content: "";
  position: absolute;
  width: 0%;
 border-radius: 20px;
  background-color: white;
  left: 0%;
  bottom: -3px;
  
  height: 3px;
}
.aboutme span:hover::before{
  width: 100%;
} */
 @media (max-width:767px) {
  .na1 {
    position: relative; /* Containing block for .n1 */
    height: 180px; /* Adjust as needed */
    overflow: hidden; /* Hide out-of-bounds content */
    width: 100%;
    margin-bottom: -50px;
    background-color: rgba(0, 255, 255, 0);
    z-index: 10;

    font-size: 15.4vw;
  }
.na2 {
    position: relative; /* Containing block for .n1 */
    height: 180px; /* Adjust as needed */
    overflow: hidden; /* Hide out-of-bounds content */
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    text-align: start;
    z-index: 10;
    font-size: 15.4vw;
    margin-top: -90px;

  }
  .n1{
    width: 100%;
   
  }
  .n2{
    width: 130%;
    
  }
  .n3{
    background: linear-gradient(to right,rgb(255, 135, 15),rgb(255, 247, 30));
    color: black;
    -webkit-text-stroke: 1.5px transparent;
    -webkit-background-clip: text;
    font-size: 1.4rem;
    top: -140px;
   width: 100%;
   text-align: start;
    position: relative;
    margin-left: 5%;
    letter-spacing: 2px;
    animation: n3 ease forwards 1.1s ;
    animation-delay: 4.4s;
    z-index: 111999991;
    opacity: 0;
}
nav i{
  margin: 6% 4%;
  background: linear-gradient( rgb(255, 247, 30), rgb(255, 135, 15));
-webkit-background-clip: text;
cursor: pointer;
z-index: 18;
opacity: 0;
  font-size: 1.3rem;
  color: rgba(255, 248, 30, 0);
  animation: menu ease forwards .4s;
  animation-delay: 4s;
}
.sf{
  color: rgba(255, 248, 30, 0);
 
  white-space: nowrap;
  background: linear-gradient(to right
  
  ,rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30),rgb(255, 135, 15),rgb(255, 247, 30)
  
  
  
  
  
  );
-webkit-background-clip: text;
  display: flex;
  gap: 20px;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 40%;
  animation: sf ease infinite 600s;
  animation-delay: 4s;
}
.page2{
  height: 70vh;
  display: flex;
 
  justify-content: center;
  align-items: center;
  
}.page2 h3{
  font-size: 40vw;
  letter-spacing: -7px;
  word-spacing: -20px;
  /* transform: translateX(-38%); */
  white-space: nowrap;
  top: 0%;
margin-left: 260px;
  position: relative;
}
.name{
  color: #e9e9e9;
  position: absolute;
  font-weight: 600;
  left: 2%;
  top: 32%;
  font-size: 15.7vw;
letter-spacing: 0px;
line-height: 155px;
white-space: nowrap;
width: 100%;
z-index: 11;
opacity: 0;
animation: name linear forwards .2s;
animation-delay: 2.4s;
}
.aboutme-content{

  display: flex;
  flex-direction: column;
  background: linear-gradient(to right,rgb(225, 113, 0),rgb(237, 229, 3));  

background-size: 0% 100% ;
background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
-webkit-background-clip: text;

transition: .4s ease;
  font-size: 1.5rem;
  gap: 10px;
 color: rgba(255, 217, 0, 0.107)
 ;
 margin-left: 7%;
 line-height: 35px;
 margin-right: 2%;
  overflow: hidden;
text-align: start;
}
 }
.project1{
  width: 100%;
  height: 100vh;
 background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
position: relative;
  margin-top: -20px;
}
.laptop{
  width: 700px;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: rgba(255, 0, 0, 0);
}
.laptop img{
  width: 700px;
  height: 580px;
  z-index: 2;
  filter: drop-shadow(0 -70px 50px rgba(35, 1, 1, 0.13));
  position: relative;
}
.lapimg{
  width: 450px;
  height: 250px;
  background-color: rgba(0, 0, 255, 0);
  position: absolute;
  z-index: 22;
  cursor: pointer;
}
.info{
  position:fixed;
  width: 400px;
  height: 400px;
  background: linear-gradient(to right,rgba(255, 157, 0, 0.902),rgba(255, 234, 0, 0.984));  
/* background-color: #ffffffa9; */
  scale: 0;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  left: -30%;
 z-index: +111;
 gap: 10px;
  top: -20%;
  pointer-events: none;
}
.info2{
  position:fixed;
  width: 400px;
  height: 400px;
  background: linear-gradient(to right,rgba(255, 157, 0, 0.902),rgba(255, 234, 0, 0.984));  
/* background-color: #ffffffa9; */
  scale: 0;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  left: -30%;
 z-index: +111;
 gap: 10px;
  top: -20%;
  pointer-events: none;
}
.lapimg2{
  width: 450px;
  height: 250px;
  background-color: rgba(0, 0, 255, 0);
  position: absolute;
  z-index: 22;
  cursor: pointer;
}

.lapimg3{
  width: 450px;
  height: 250px;
  background-color: rgba(0, 0, 255, 0);
  position: absolute;
  z-index: 22;
  cursor: pointer;
}
.info3{
  position:fixed;
  width: 400px;
  height: 400px;
  background: linear-gradient(to right,rgba(225, 112, 0, 0.614),rgba(237, 229, 3, 0.632));  

  scale: 0;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  left: -30%;
 z-index: +111;
  top: -20%;
  pointer-events: none;
}

.screen{
  width: 450px;
  height: 250px;
overflow: hidden;
z-index: 1;
  background-color: rgb(0, 0, 0);
  position: absolute;
}
.screen img{
  background-position: center;
  background-size: cover;
  width: 100%;
  scale: 1;
  height: 100%;
}
.project-imgs{
  width: 100%;
  display: flex;
    flex-direction: column;
  height: 400px;
  margin-top: 0px;
position: relative;

  background-color: blue;
}
.project-imgs img{
  width: 100%;
  height: 50%;
}
#ncba{
  position: relative;
 top: -0%;
}
.project-name{
  width: 100%;
  min-height: 200px;
  background-color: rgba(0, 255, 255, 0);
  position: absolute;
  top: 14%;
display: flex;
justify-content: center;
align-items: center;
font-size: 15rem;
line-height: 210px;
left: -70%;
opacity: 1;
margin-right: -27%;
font-weight: 600;

  
}
.name1{
    background: linear-gradient(to right,rgb(255, 135, 15),rgb(255, 247, 30));
-webkit-background-clip: text;
z-index: 1;
color: rgba(0, 0, 0, 0);
-webkit-text-stroke: 2px transparent;
}
.lapimg{

  cursor: pointer;
}
.lapimg a .a{
  width: 100%;
  height: 100%;

}
.lapimg2 a .a{
  width: 100%;
  height: 100%;
}
.info{
  display: flex;
  justify-content: center;
  padding: 2% 2%;
  flex-direction: column;
  font-weight: 500;
  color: #111111;
  -webkit-text-stroke: 1.5px #11111100;
  font-size: 1.1rem;
}
.info2{
  display: flex;
  justify-content: center;
  padding: 2% 2%;
  flex-direction: column;
  font-weight: 500;
  color: #111111;
  -webkit-text-stroke: 1.5px #11111100;
  font-size: 1rem;
}
.info h4{
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}
.info2 h4{
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}